<div class="w-full h-screen flex flex-row justify-evenly items-center">
  <div>{{ errors }}</div>
  <div class="grid grid-cols-1 grid-rows-1 border h-10">
    <label
      for="input"
      class="text-center w-min col-start-1 col-end-2 row-start-1 row-end-2 font-mono leading-10 h-10 p-0 text-4xl tracking-wide font-semibold text-black"
    >
      {{ currentWord }}
    </label>
    <input
      #input
      id="input"
      class="text-left w-min focus:outline-none tracking-wide col-start-1 col-end-2 row-start-1 row-end-2 caret-transparent font-mono z-10 leading-10 h-10 p-0 bg-transparent text-4xl font-semibold text-white"
      (keydown.code.space)="$event.preventDefault(); checkInput()"
      [(ngModel)]="userInput"
    />
  </div>
  <app-timer (timeEnd)="end()" [time]="time" />
  <app-endscreen
    *ngIf="endScreen"
    (restart)="restart()"
    [errors]="errors"
    [wordCount]="wordCount"
    [wpm]="wpm"
  />
</div>
